* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 12px;
}

.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.header-logo span {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
}

.header-content {
    display: flex;
}

.header-burger {
    width: 30px;
    height: 19px;
    display: none;
}

.btn {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
}

.btn-primary {
    background-color: rgba(37, 110, 235, 1);
    color: rgba(255, 255, 255, 1);
}

.search {
    margin-bottom: 45px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 3px;
    background: rgba(37, 110, 235, 1);
}

.search-box input {
    flex-grow: 1;
    min-width: 0;
    padding: 14px 22px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.search-btn {
    display: flex;
    align-items: center;
    gap: 2px;
}

.search-btn .search-btn__icon {
    width: 15px;
    height: 15px;
}

.search-btn .search-btn__text {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.content-box {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.content-main {
    flex-grow: 1;
    border: 1px solid red;
}

.content-side {
    border: 1px solid red;
    width: 260px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }

    .header-controls {
        display: none;
    }

    .header-burger {
        display: block;
    }

    .search-btn .search-btn__text {
        display: none;
    }

    .content-box {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .content-main, .content-side {
        width: 100%;
    }
}