* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    height: 36px;
    margin: 0 auto;
    padding: 0 12px;
}

.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.header-logo span {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
}

.header-content {
    display: flex;
}

.header-burger {
    width: 30px;
    height: 19px;
    display: none;
}

.btn {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
}

.btn-primary {
    background-color: rgba(37, 110, 235, 1);
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1200px) {
    .container {
        max-width: 930px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
}

@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }

    .header-controls {
        display: none;
    }

    .header-burger {
        display: block;
    }
}