.container {
}

.serviceImg {
}

.serviceTitle {
    margin-top: 7px;
    margin-bottom: 5px;
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.serviceDesc {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}