.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
    width: calc((100% - 60px) / 3);
    text-decoration: none;
}

.cardImg img {
    width: 100%;
    border-radius: 10px;
}

.cardTitle {
    margin-top: 16px;
    margin-bottom: 5px;
    color: rgba(10, 20, 58, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.card:hover .cardTitle {
    color: rgba(37, 110, 235, 1);
}


.cardPrice {
    margin-bottom: 10px;
    color: rgba(10, 20, 58, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.cardDescBox {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.cardDesc {
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.cardData {
    margin-top: 3px;
}

@media (max-width: 991px) {
    .card {
        width: calc((100% - 30px) / 2);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}