.container {
}

.title {
    margin-top: 0;
    margin-bottom: 25px;
    color: rgba(10, 20, 58, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}