.header {
    padding-top: 30px;
    padding-bottom: 24px;
}

.headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}

.headerLogo span {
    color: rgba(10, 20, 58, 1);
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
}

.headerContent {
    display: flex;
}

.headerBurger {
    width: 30px;
    height: 19px;
    display: none;
}

@media (max-width: 786px) {
    .headerControls {
        display: none;
    }

    .headerBurger {
        display: block;
    }
}