.infoBox {
    display: flex;
    flex-direction: column;
    flex-basis: 460px;
    flex-grow: 1;
    flex-shrink: 1;
}

.title {
    margin-top: 0;
    margin-bottom: 25px;
    color: rgba(10, 20, 58, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.productImg {
    margin-bottom: 20px;
    width: 100%;
}

.desc p {
    margin: 0;
    color: rgba(10, 20, 58, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.summaryBox {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
}

.price {
    margin-bottom: 25px;
    color: rgba(10, 20, 58, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.showPhoneBtn {
    width: 264px;
    height: 54px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
}

@media (max-width: 991px) {
    .product {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}