.footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footerItem {
    margin: 0;
    color: rgba(196, 196, 196, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
}

.footerItem a {
    text-decoration-line: underline;
}