.search {
    margin-bottom: 45px;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 3px;
    background: rgba(37, 110, 235, 1);
}

.searchBox input {
    flex-grow: 1;
    min-width: 0;
    padding: 14px 22px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.searchBtn {
    display: flex;
    align-items: center;
    gap: 2px;
}

.searchBtn .searchBtn__icon {
    width: 15px;
    height: 15px;
}

.searchBtn .searchBtn__text {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

@media (max-width: 786px) {
    .searchBtn .searchBtn__text {
        display: none;
    }
}