* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn {
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-outline {
  background-color: transparent;
}

.btn-primary {
  background-color: rgba(37, 110, 235, 1);
  color: rgba(255, 255, 255, 1);
}

.content {
  padding-bottom: 50px;
}

.content-box {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.content-main {
  flex-grow: 1;
}

.content-side {
  width: 260px;
  min-width: 260px;
}

.content-main__title {
  margin-top: 0;
  margin-bottom: 25px;
  color: rgba(10, 20, 58, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.content-main__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.content-side__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-container {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }

  .content-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .content-side {
    width: 100%;
    min-width: 0;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }

  .content-main, .content-side {
    width: 100%;
  }
}

@media (max-width: 786px) {
  .container {
    max-width: 100%;
  }
}